<!-- Begin ReCharge code -->
<p id="rc_link_container">
  <a href="/tools/recurring/login">Manage Subscriptions</a>
</p>
<!-- End ReCharge code -->

<div class="subscription-wrapper recharge-te">
  <nav class="rct_navigation">
    <ul class="subscription-links rct_navigation__desktop">
      <li class="rct_navigation__item"><a href="javascript:void(0);" class="rct_navigation__item__link tab-link active" data-tab="dashboard">Dashboard</a></li>
      <li class="rct_navigation__item"><a href="javascript:void(0);" class="rct_navigation__item__link tab-link" data-tab="subscription">Subscriptions</a></li>
      <li class="rct_navigation__item"><a href="javascript:void(0);" class="rct_navigation__item__link tab-link" data-tab="upcoming-orders">Upcoming orders</a></li>
      <li class="rct_navigation__item"><a href="javascript:void(0);" class="rct_navigation__item__link tab-link" data-tab="purchase-history">Purchase history</a></li>
      <li class="rct_navigation__item"><a href="javascript:void(0);" class="rct_navigation__item__link tab-link" data-tab="shipping">Shipping</a></li>
      <li class="rct_navigation__item"><a href="javascript:void(0);" class="rct_navigation__item__link tab-link" data-tab="payment-methods">Payment Methods</a></li>
    </ul>
  </nav>
  <section class="rct_content">
    <div class="subscription-tab-container">
      <div class="tab-content dashboard active" id="dashboard">
        <div class="dashboard-container"></div>
      </div>
      <div class="tab-content subscription" id="subscription">
        <div class="subscription-container"></div>
      </div>
      <div class="tab-content upcoming-orders" id="upcoming-orders">
        <div class="upcoming-orders-container"></div>
      </div>
      <div class="tab-content purchase-history" id="purchase-history">
        <div class="purchase-history-container"></div>
      </div>
      <div class="tab-content shipping" id="shipping">
        <div class="shipping-addresses-container shipping-page"></div>
      </div>
      <div class="tab-content payment-methods" id="payment-methods">
        <div class="payment-methods-container"></div>
      </div>
    </div>
  </section>
</div>