<ul class="account-sidebar-nav dash-menu">
  <li {% if page_title == 'Account' %}class="active"{% endif %}>
    
    <a class="account-links" href="/account">
      <span class="svg_icon_menu">
        <svg  viewBox="0 0 512 512"  xmlns="http://www.w3.org/2000/svg">
          <path d="m197.332031 170.667969h-160c-20.585937 0-37.332031-16.746094-37.332031-37.335938v-96c0-20.585937 16.746094-37.332031 37.332031-37.332031h160c20.589844 0 37.335938 16.746094 37.335938 37.332031v96c0 20.589844-16.746094 37.335938-37.335938 37.335938zm-160-138.667969c-2.941406 0-5.332031 2.390625-5.332031 5.332031v96c0 2.945313 2.390625 5.335938 5.332031 5.335938h160c2.945313 0 5.335938-2.390625 5.335938-5.335938v-96c0-2.941406-2.390625-5.332031-5.335938-5.332031zm0 0"></path>
          <path d="m197.332031 512h-160c-20.585937 0-37.332031-16.746094-37.332031-37.332031v-224c0-20.589844 16.746094-37.335938 37.332031-37.335938h160c20.589844 0 37.335938 16.746094 37.335938 37.335938v224c0 20.585937-16.746094 37.332031-37.335938 37.332031zm-160-266.667969c-2.941406 0-5.332031 2.390625-5.332031 5.335938v224c0 2.941406 2.390625 5.332031 5.332031 5.332031h160c2.945313 0 5.335938-2.390625 5.335938-5.332031v-224c0-2.945313-2.390625-5.335938-5.335938-5.335938zm0 0"></path>
          <path d="m474.667969 512h-160c-20.589844 0-37.335938-16.746094-37.335938-37.332031v-96c0-20.589844 16.746094-37.335938 37.335938-37.335938h160c20.585937 0 37.332031 16.746094 37.332031 37.335938v96c0 20.585937-16.746094 37.332031-37.332031 37.332031zm-160-138.667969c-2.945313 0-5.335938 2.390625-5.335938 5.335938v96c0 2.941406 2.390625 5.332031 5.335938 5.332031h160c2.941406 0 5.332031-2.390625 5.332031-5.332031v-96c0-2.945313-2.390625-5.335938-5.332031-5.335938zm0 0"></path>
          <path d="m474.667969 298.667969h-160c-20.589844 0-37.335938-16.746094-37.335938-37.335938v-224c0-20.585937 16.746094-37.332031 37.335938-37.332031h160c20.585937 0 37.332031 16.746094 37.332031 37.332031v224c0 20.589844-16.746094 37.335938-37.332031 37.335938zm-160-266.667969c-2.945313 0-5.335938 2.390625-5.335938 5.332031v224c0 2.945313 2.390625 5.335938 5.335938 5.335938h160c2.941406 0 5.332031-2.390625 5.332031-5.335938v-224c0-2.941406-2.390625-5.332031-5.332031-5.332031zm0 0"></path>
        </svg>
      </span>
      <span class="menu_text">My Account</span>
    </a>
  </li>
  <li {% if page_title contains 'Order' %}class="active"{% endif %}>
    <a class="account-links" href="/account#order-history" data-tab="#order-history">
      <span class="svg_icon_menu">
        <svg id="Capa_1" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"   xmlns="http://www.w3.org/2000/svg">
          <path d="m275.531 172.228-.05 120.493c0 4.575 1.816 8.948 5.046 12.177l86.198 86.181 24.354-24.354-81.153-81.136.05-113.361z"></path>
          <path d="m310.011 34.445c-121.23 0-221.563 90.033-238.367 206.674h-71.644l86.114 86.114 86.114-86.114h-65.78c16.477-97.589 101.355-172.228 203.563-172.228 113.966 0 206.674 92.707 206.674 206.674s-92.707 206.674-206.674 206.674c-64.064 0-123.469-28.996-162.978-79.555l-27.146 21.192c46.084 58.968 115.379 92.808 190.124 92.808 132.955 0 241.119-108.181 241.119-241.119s-108.164-241.119-241.119-241.12z"></path>
        </svg>
      </span>
      <span class="menu_text">Order History</span>
    </a>
  </li>
  <li {% if page_title == 'Addresses' %}class="active"{% endif %}>
    <a href="/account/addresses">
      <span class="svg_icon_menu">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 507.996 507.996" style="enable-background:new 0 0 507.996 507.996;" xml:space="preserve"><g><g><rect x="49.2" y="225.488" width="81.9" height="16.4"></rect></g></g><g><g><rect x="49.2" y="274.688" width="122.9" height="16.4"></rect></g></g><g><g><rect x="49.2" y="323.888" width="295" height="16.4"></rect></g></g><g><g><rect x="49.2" y="372.988" width="49.2" height="16.4"></rect></g></g><g><g><rect x="131.1" y="372.988" width="49.2" height="16.4"></rect></g></g><g><g><rect x="213.1" y="372.988" width="49.2" height="16.4"></rect></g></g><g><path d="M336,217.288c-6,0-11.5,1.7-16.3,4.5c-5-2.9-10.6-4.5-16.5-4.5c-18.1,0-32.8,14.7-32.8,32.8c0,18.1,14.7,32.8,32.8,32.8c5.9,0,11.5-1.6,16.5-4.5c4.8,2.8,10.3,4.5,16.3,4.5c18.1,0,32.8-14.7,32.8-32.8S354.1,217.288,336,217.288z M307.4,265.888c-1.4,0.4-2.8,0.6-4.2,0.6c-9,0-16.4-7.4-16.4-16.4c0-9,7.4-16.4,16.4-16.4c1.4,0,2.9,0.3,4.2,0.6c-2.6,4.7-4.2,10-4.2,15.8C303.2,255.888,304.8,261.188,307.4,265.888z M336,266.488c-9,0-16.4-7.4-16.4-16.4c0-9,7.4-16.4,16.4-16.4s16.4,7.4,16.4,16.4C352.4,259.088,345,266.488,336,266.488z"></path></g><g><path d="M490.9,179.388l-343.8-108.6c-2.4-0.8-21.6-7.1-30.8,16l-28.3,89.5H24.6c-13.6,0.1-24.6,11.1-24.6,24.6v213.1c0,13.6,11,24.6,24.6,24.6h360.6c8.6,0,16.1-4.4,20.5-11.1c0,0,11.1,3.1,13.6,3.1c10.8,0,20.2-6.9,23.4-17.2l64.2-203.2C508.9,203.988,510.3,184.588,490.9,179.388z M122,122.988l168.9,53.3H182l-69.9-22.1L122,122.988z M107.2,169.888l20.5,6.5h-22.5L107.2,169.888z M393.4,413.988h-0.1c0,4.5-3.7,8.2-8.2,8.2H24.6c-4.5,0-8.2-3.7-8.2-8.2v-213.1c0-4.5,3.7-8.2,8.2-8.2h360.6c4.5,0,8.2,3.7,8.2,8.2V413.988z M427.1,408.488c-1.3,4.2-6.1,6.7-10.3,5.3l-7.1-2.2v-146.1l56.9,18L427.1,408.488zM471.5,267.788l-61.8-19.5v-34.4l71.7,22.6L471.5,267.788z M491.3,205.288l-4.9,15.6l-77.1-24.3c-2.1-11.5-12.1-20.2-24.1-20.2h-39.9l-218.4-69l4.9-15.6c1.3-4.2,6-6.7,10.3-5.3l343.8,108.5C492.8,196.788,491.9,203.188,491.3,205.288z"></path></g></svg>
      </span>
      <span class="menu_text">Addresses</span>
    </a>
  </li>
  <li>
    <a class="account-links" href="/account#profile-info" data-tab="#profile-info">
      <span class="svg_icon_menu">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <g>
              <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
                       C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
                       c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
                       h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
                       c59.551,0,108,48.448,108,108S315.551,256,256,256z"></path>
            </g>
          </g>
        </svg>
      </span>
      <span class="menu_text">Personal Profile</span>
    </a>
  </li>
  <li>
    {% comment %}<a class="account-links" href="/account#manage-subsciption" data-tab="#manage-subsciption">{% endcomment %}
    <a href="/tools/recurring/login">
      <span class="svg_icon_menu">
        <svg xmlns="http://www.w3.org/2000/svg"   fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
  <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>
      </span>
      <span class="menu_text">Manage Subscription</span>
    </a>    
  </li>
  <li>
    <a class="account-links" href="/account#loyalty-rewards" data-tab="#loyalty-rewards">
      <span class="svg_icon_menu">
        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
      </span>
      <span class="menu_text">Loyalty Rewards</span>
    </a>
  </li> 
  <li>
    <a href="http://fiera.returnscenter.com" target="_blank">
      <span class="svg_icon_menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
          <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
        </svg>
      </span>
      <span class="menu_text">Return Order</span>
    </a>
  </li>
  <li>
    <a href="{{ routes.account_logout_url }}">
      <span class="svg_icon_menu">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z">
                      </svg></span>
        <span class="menu_text">
        {{ 'customer.log_out' | t }}
        </span>
        </a>
  </li>
</ul>