<ul class="bnr-icons">
  <li>
    <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/bnr-icon1.png" loading="lazy">
    <p>Formulated in the USA</p>
  </li>
  <li>
    <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/bnr-icon2.png" loading="lazy">
    <p>Non<br>GMO</p>
  </li>
  <li>
    <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/bnr-icon3.png" loading="lazy">
    <p>Cruelty<br>Free</p>
  </li>
  <li>
    <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/bnr-icon4.png" loading="lazy">
    <p>Paraben<br>Free</p>
  </li>
</ul>