
<div class="sec4">
  <div class="container">
    <p class="comn-hdg">Fièra Customer Reviews</p>
    <div class="s4-inr">
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I am 55 yrs old and have used every face product and concealer there is I think ...and I just started using the Anti Aging Concealer and it is the BEST I HAVE EVER USED !!! I LOVE IT !! I cant wait to try your other products ! My husband just ordered me the neck cream. Thank u for a concealer that is SO AWESOME !! ❤</p>
        <div class="s4-btm">
          <div class="nm-ltr">A</div>
          <h3>- Ann D. R.</h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I FINALLY figured out how to apply properly (expect a learning curve) and I love this product!! I'm 51 and have been dealing with dark circles since my 20s - and this stuff is the only product I have ever used (and I have tried countless products) that covers without caking. Love it love it love it!!!!</p>
        <div class="s4-btm">
          <div class="nm-ltr">S</div>
          <h3>- Sonya W. T.</h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">Love this stuff! The absolute only thing I've tried, and there have been many,that has done anything!❤ Thank you!!!!</p>
        <div class="s4-btm">
          <div class="nm-ltr">B</div>
          <h3>- Brenda R.</h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I've been using the moisturizer concealer and neck cream for approximately one month.
          Cannot state enough how much I love these products! Very reasonably priced and they deliver the promised results! Thank you Fiera!!
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">B</div>
          <h3>- Barbara S.</h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I am a customer for life! Love the results of this product as both concealer and foundation. My complexion has improved so much, and now I can’t imagine being without it. Hoarding my last bit while I wait for my order to arrive.
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">T</div>
          <h3>- Terri S. C.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I love this product. I have a lot of allergies and cannot wear makeup but I am able to wear this and my skin looks and feels great. I get compliments, and I feel good about how I look. I am so glad I found this.</p>
        <div class="s4-btm">
          <div class="nm-ltr">J</div>
          <h3>- Janet M. K.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I just tried mine today as a foundation. Got the finishing powder too. All I can say is wow. Just wow! Not caked. Doesn’t settle in fine lines. Got compliments from people that used to say what I used looked caked. I am sold. Luckily I picked the right color too. Thrilled !!!!
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">J</div>
          <h3>- Jane D.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">This product is amazing! It smooths out your entire face.Your skin looks flawless. I suggest using it on one side of your face first. Go do something for a couple of minutes. Then look in the mirror. You will be Amazed at the difference.
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">P</div>
          <h3>- Pam H. C.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">Best. Concealer. Ever!! Seriously...no creasing at all! I'm 56...I swear by this! And the finishing powder is awesome! Brushes too!!❤❤❤
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">A</div>
          <h3>- Amy K. H.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">Love this product!! My sister noticed that my skin looked good. She ordered right away too!! She tried some of mine and loved it. You do notice a big difference!!
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">M</div>
          <h3>- Maria G. F.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I ordered it, got it in record time yesterday & used it today & will never ever use anything else, so when finished what I have will order more. Very very happy with this product. I’m 65 & it does exactly what it says it does. Love it 😊
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">J</div>
          <h3>- Jeannie S.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
      <div class="s4-inr-bx">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/quote-img.png?v=1632542610" loading="lazy" alt="" class="lazy quote-img">
        <img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/star-img.png?v=1632542704" loading="lazy" alt="" class="lazy star-img">
        <p class="s4-inr-txt">I have to tell anyone considering this product, get it. It does exactly what it says. You need very little and just wait till you see results. Also, I’ve been using it for 6 months and my skin is better than it was before the product.
        </p>
        <div class="s4-btm">
          <div class="nm-ltr">S</div>
          <h3>- Suzanne T.
          </h3>
          <p><img data-src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/veri-img.png?v=1632542787" loading="lazy" alt="" class="lazy veri-img">Verified Buyer</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom reviews",
  "tag": "section",
  "class": "custom-reviews",
  "settings": [

  ],
  "presets": [
    {
      "name": "Custom reviews"
    }
  ]
}
{% endschema %}
