<style type="text/css">
  .noroute-hdng {
    margin-top: 40px;
  }
  
  .noroute-hdng {
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 5px solid #ebebeb;
      text-align: left;
      margin-top: 42px;
      overflow: hidden;
  }

  .noroute-hdng h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .noroute-hdng * {
      font-family: Organica;
  }
  
  .noroute-hdng p {
      text-align: left;
      padding-bottom: 20px;
  }
  
  .noroute-hdng {
      text-align: center;
      padding: 50px;
      padding-top: 0px;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .noroute-hdng a.button {
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
  }

  @media screen and (max-width: 750px) {
    .noroute-hdng {
      text-align: left;
      padding: 10px;
      padding-top: 0px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  }
</style>

<div class="noroute-hdng">
      <h1>Oops!</h1>
      <p>We can’t seem to find the page you’re looking for…</p>
      <p>But if you’re looking for visibly smoother, firmer, more radiant-looking skin (and the compliments that come with it),</p>

      <a href="/collections/our-best-sellers" class="button">Check out our best sellers!</a>

      <p>If you want to chat with a member from our Customer Happiness Team, just email us at support@fieracosmetics.com or call (833) 693-4372.</p>
      <p>Our team is always ready to assist you Monday to Friday from 8am - 9am EST.</p>
</div>
