<style>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
padding-left: 28px!important;
}
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

}
.insert img {
height:auto;
width:600px;
}
.insert {
padding-left:28px!important;
}
.hero_banner_main:before {
    background: none!important;
}
</style><br/><br/>


<div class="boxSec_main">
      
      
       
     <br/> <div class="bgCtn_box border-scale" align="right" style="margin-top:5px;"> 
       <div class="video"> <iframe width="600" height="375" src="https://www.youtube.com/embed/Xle6LHirvVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br/><br/>
</div>
<br/><br/><br/>
    <img class="insert" src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/tutorial-insert_4555e528-d74a-466a-9dbc-ee9449a5285f.png?v=1674504198"></div>
      
      
		

      <div class="txtCtn_box" style="padding-left:30px!important; padding-right:28px!important">
        
        <h3 class="hide_title_mobile" style="font-size:439x!important">A Tutorial From a Hollywood Makeup Artist
</h3>
        

        
        <div class="box__rich__text">
          <p>Fièra Luxury Concealer has received media attention and praise for being the first formula of its kind for mature skin. You’ve likely never seen a concealer texture quite like it, therefore the way you use it is different than that of most concealers. <br/><br/>To help you get the best results with your concealer application, we’ve enlisted the help of Fièra fan and 2x Emmy-Nominated Celebrity Makeup Artist DeeDee Marcelli to provide this video tutorial.<br/><br/>

<strong>Once you try your Luxury Concealer, please consider leaving us a positive <u><a href="https://www.amazon.com/review/create-review/ref=dpx_acr_wr_link?asin=B0BQKWZL1F">review and 5-star rating on Amazon.</a></u></strong><br/> <br/>As a small business committed to customer satisfaction and charitable efforts (2.5 million meals and counting donated to those in need!), your reviews are extremely important to us.<br/><br/>
If you have any questions or concerns with your order, or need any more support using the product, please contact our Customer Happiness Team at <a href="mailto:support@fieracosmetics.com">support@fieracosmetics.com</a> to assist you (and keep you happy!) before leaving your rating.<br/><br/>
Thank you, and enjoy the compliments that come with using Fièra Luxury Concealer!

</p>
        </div>

        
        
      </div>
    </div>