.key-ingredients-section { width: 100%; padding: 60px 0 70px;  clear:both; } 
.key-ingredients-section .container { max-width: 1200px;} 
.key-ingredients-section h2 { font-size: 45px; line-height: 1.5; font-weight: 600; width: 100%; margin:0 0 20px 0; color:#000; } 
ul.tabs { margin: 0; padding: 0; list-style: none; width: 100%; display: flex; -webkit-display: flex; justify-content: center; border-bottom: 1px solid #c0c8dc; padding: 20px 0; } 
ul.tabs li { margin: 0 25px; cursor: pointer; padding: 0; color: #000; position: relative; } 
ul.tabs li .tab_img { } 
ul.tabs li .tab_img img { display: block; margin: 0 auto 10px; border-radius: 50%; max-width: 138px; width:100%;     border: 1px solid #ddd;} 
ul.tabs li.active { display: block; } 
ul.tabs li.active:after { content: ''; background: url(act-arw.png) center bottom no-repeat; width: 31px; height: 13px; position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); bottom: -33px; } 
.tab_container { clear: both; width: 100%; background: #fff; } 
.tab_content { padding: 0; display: none; } 
.tab_content .tab_blocks { width: 100%; display: flex; -webkit-display: flex; justify-content: center; text-align: left; margin-top: 30px; } 
.tab_content .tab_blocks .tab_box_info { } 
.tab_content .tab_blocks .tab_box_info h3 { font-size: 36px; line-height: 40px; font-weight: 600; color: #313b54; } 
.tab_content .tab_blocks .tab_box_info p { font-size: 16px; line-height: 1.5; margin-top: 20px; letter-spacing: 0.5px; color:#000; } 
.tab_content .tab_blocks .tab_box_info a, .tab_content .tab_blocks .tab_box_info a:hover{ text-decoration:underline;} 
.tab_content .tab_blocks .tab_box_info ul { width: 100%; margin-top: 30px; } 
.tab_content .tab_blocks .tab_box_info ul li { font-size: 16px; line-height: 1.5; background: url(tab-cont-lst-tik.png) left 3px no-repeat; padding-left: 35px; margin: 8px 0 0; letter-spacing: 0.5px; color:#000; } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list { } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li { font-size: 16px; line-height: 1.5; background: none; padding: 0; letter-spacing: 0.5px; color:#000; width: 100%; position: relative; margin-top: 10px; display: flex; -webkit-display: flex; align-items: center; } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li .vita_img { } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li .vita_img img { margin-right: 40px; width: 150px; display:block; } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li .vita_info { } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li .vita_info h3 { font-size: 22px; line-height: 1.5; margin-bottom: 10px; color:#000; } 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li .vita_info p { margin:0; } 
.tab_content .tab_blocks .tab_box_img { } 
.tab_content .tab_blocks .tab_box_img img { border-radius: 50%; margin: 20px 0 0 30px; } 
.tab_drawer_heading { display: none; } 
.single-faq-container .up-slide-dwn {border: 1px solid #c0c8dc; padding:10px 15px;margin-top:40px;float:none;overflow:hidden;} 
.single-faq-container .accordion { width: 100%; border: 0; padding: 0; margin: 0; width: 100%; text-align: left; background: url(https://cdn.shopify.com/s/files/1/0549/5082/2118/files/cart-plus.png?v=1632477662) no-repeat 100% 50%; padding: 0 20px 0 0; position: relative; font-size: 20px; line-height: 24px; font-weight: 600; color: #313b54; text-align: left; cursor: pointer; } 
.single-faq-container .accordion:hover { background-position: 100% 50%;} 
.single-faq-container .acdn-heading.accordion-open { background: url(https://cdn.shopify.com/s/files/1/0549/5082/2118/files/cart-minus.png?v=1632477705) no-repeat 100% 50% #fff; } 
.single-faq-container .acdn-content { width: 100%; padding: 0; text-align: left; } 
.single-faq-container .acdn-content .acdn-para { width: 100%; font-size: 16px; color: #000; line-height: 1.5; margin:10px 0 0 0; } 

.tab_content .tab_blocks .tab_box_info ul.vitamin_list li { flex-wrap: wrap; justify-content: flex-start;}
span.vita_img { width: 90px; height: auto;}
span.vita_info { width: calc(100% - 90px); padding-left: 20px;}


@media screen and (max-width: 640px) { 
/*.tabs { display: none !important;} 
*/ .tab_drawer_heading { border-bottom: 1px solid #c0c8dc; margin: 0; padding: 5px 20px; display: flex; display:none; align-items:center; cursor: pointer; position:relative; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
.tab_drawer_heading.d_active:after { content: ''; background: url(act-arw.png) center bottom no-repeat; width: 31px; height: 13px; position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); bottom: -13px; } 
.tab_drawer_heading .tab_img { } 
.tab_drawer_heading .tab_img img { width: 100px; height: 100px; object-fit: contain; display: block; margin: 10px; border-radius: 50%; } 
.tab_drawer_heading .tab_name { font-size: 14px;cursor: pointer; padding: 0; color: #000; position: relative;} 
.d_active { } 
.tab_content .tab_blocks {flex-wrap: wrap;} 
.tab_box_img {width: 100%;border: solid 2px #dcdcdc;margin: 20px 0; text-align: center;padding:20px;} 
.tab_content .tab_blocks .tab_box_img img {width: 100%;border-radius: 0;display: block;margin:0;} 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li {width: 100%;flex-wrap: wrap; /*text-align: center;*/justify-content: center;} 

} 
@media only screen and (max-width:767px) { 
.key-ingredients-section h2 {font-size:30px;} 
ul.tabs li .tab_img img { /*width: 100px; height: 100px; */object-fit: contain;} 
ul.tabs li {margin: 0 10px;font-size: 14px;} 
.tab_content .tab_blocks .tab_box_info h3 {font-size: 26px;line-height: 1.5;} 
.tab_content .tab_blocks .tab_box_info p {font-size: 14px;line-height: 1.5;margin-top: 10px;} 
.tab_content .tab_blocks .tab_box_info ul {margin-top:20px;} 
.tab_content .tab_blocks .tab_box_info ul.vitamin_list li .vita_info h3 {font-size:18px;} 
.single-faq-container .accordion {font-size:16px;} 
.key-ingredients-section {padding: 30px 0 30px;} 
.tab-cont-lst li { font-size: 14px; margin: 5px 0 0; padding-left: 26px;} 
.ful-ing-hd { font-size: 18px;} 

  ul.tabs li .tab_name{ display:none;}
} 
.tab-cont-tx { font-size: 16px; line-height: 24px; margin-top: 20px; letter-spacing: 0.5px;} 
.ful-ing-cont-tx { font-size: 16px; line-height: 24px; margin-top: 15px;} 

@media only screen and (max-width:640px) { 
ul.tabs{ } 
ul.tabs li .tab_img img { object-fit: contain; display: block; width: 70px; height: 70px;} 
ul.tabs li.active img{/*width: 100px; height: 100px;*/} 
/*div#tab1 { display: block;} */ 
.tab_content { display: none;} 
 .tab_box_img{ display:none;  }
  ul.tabs{ position:relative; padding-bottom: 24px; border-bottom:none; justify-content: space-around; text-align: center;}
  ul.tabs:before{ position:absolute; content:""; width:100%; height:1px; background:#c0c8dc; left:0; bottom:13px;    }
  ul.tabs li.active:after{ bottom:-23px;}
  ul.tabs li {width: calc(20% - 20px);}
  
  
} 

@media only screen and (max-width: 1010px){ 
.tab-cont-tx { font-size: 15px; line-height: 22px; margin-top: 15px;} 

}