<div class="shop-sec1">
  <div class="container">
    <div class="contact-hdng">
      <h1>Frequently Asked Questions</h1>
      <p>Find answers to the most common questions about Fiera's product range</p>
    </div>
    <div class="faq-container" style="overflow:hidden;">
      <div class="up-slide-dwn">
        <div class="accordion acdn-heading accordion-close">Where Are Fiera Products Made?</div>
        <div class="acdn-content" style="display: none;">
          <p class="acdn-para">Our products are all proudly formulated and produced in the USA. Depending on if you order our concealer or some of our other facial care products, they were manufactured in either New York or Florida.
          </p>
        </div>
      </div>
      <div class="up-slide-dwn">
        <div class="accordion acdn-heading accordion-close">What Is Your Return Policy?</div>
        <div class="acdn-content" style="display: none;">
          <p class="acdn-para">
            We have a 30-day full money back return policy. Simply mail the products to either address:<br> <br>

            1) USA: Fiera Cosmetics PO Box 3335, Buffalo, NY, 14240-3335 <br>
            2) Canada: Fiera Cosmetics PO Box 1212 Willowdale, ON, M3J 0L3<br><br>

            When returning any products please ensure to include your full name, and order number on the outside of the package. Your order number can be found on the packing slip or on the order confirmation email we sent to you.  Please ensure the information provided is the same credentials that were used when placing your order. This allows us to associate the returned product with the appropriate account.<br><br>

            As soon as we receive the return, we will process the refund right away. All refunds will go back to the original form of payment. Once the refund is processed, some banks can take up to 7-10 business days for the refund to reflect on your credit card statement.<br><br>

            Customers are responsible for the cost of return shipping.

          </p>
        </div>
      </div>
      <div class="up-slide-dwn">
        <div class="accordion acdn-heading accordion-close">Can I Purchase Fièra Products In Retail Stores?</div>
        <div class="acdn-content" style="display: none;">
          <p class="acdn-para">We made the decision to not put our products in retail outlets and instead sell only to our customers directly online. Retail stores take very large margins and charge a premium for the top shelf space. Consumers get promoted products that paid the most money to be there versus being promoted the products that deliver the best results. We let our customer reviews do our selling for us and instead of buying shelf space, we take a portion of every sale donate it to help feed people in need through our partnerships with Food Rescue US and Second Harvest.
          </p>
        </div>
      </div>
      <div class="up-slide-dwn">
        <div class="accordion acdn-heading accordion-close">Where do your products ship from?</div>
        <div class="acdn-content" style="display: none;">
          <p class="acdn-para">We ship to our US customers daily from Buffalo, NY and to our Canadian customers daily from Toronto, ON.</p>
        </div>
      </div>
      <div class="up-slide-dwn">
        <div class="accordion acdn-heading accordion-close">When is my order arriving?</div>
        <div class="acdn-content" style="display: none;">
          <p class="acdn-para">All of our customer shipments are fully tracked. On the next business day following your purchase, you should have received an email from us containing your tracking information. If you don’t see this in your inbox, make sure to check your spam folder.</p>
        </div>
      </div>

      <div class="up-slide-dwn">
        <div class="accordion acdn-heading accordion-close">What concealer shade should I order?</div>
        <div class="acdn-content" style="display: none;">
          <p class="acdn-para">The color you choose depends on what you'll be primarily using it for. If it's especially for under eye coverage, we recommend going a shade lighter than you'd normally choose. If it's for other full facial coverage, we recommend choosing a shade closer to what you would use for foundation. We have customers who will buy two shades so they can go lighter and darker as they need to and use the two colors to blend.
            <br>
            Here’s a video that should help you choose the perfectly color for you.
            <br>
            <br>
          </p><div style="text-align: center">
            <video height="400" controls="" class="prd-det-vid-img">
              <source src="images/shades.mov">
                Your browser does not support the video tag.
              </video>
            </div>
            <p></p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">How do you apply the concealer?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">
              How you apply the concealer comes down to personal preference. The concealer itself is quite thick in order to provide maximum coverage so it’s best to let it warm up a little before spreading either on the back of your hand or between your fingers.
              <br><br>
              Once warmed, most of our customers chose to use their fingers to dab it onto their skin, and then use the brush, their fingers, or a sponge to blend it.
            </p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">What are the ingredients in your products:</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">
              <a href="javascript:void(0);" class="ing-btn-concealer">Concealer Ingredients</a>
              <br>
              <a href="javascript:void(0);" class="ing-btn-neck-cream">Neck Cream Ingredients</a>
              <br>
              <a href="javascript:void(0);" class="ing-btn-powder">Finishing Powder Ingredients</a>
              <br>
              <a href="javascript:void(0);" class="ing-btn-apple">Apple Stem Cell Cream Ingredients</a>
              <br>
              <a href="javascript:void(0);" class="ing-btn-citrus">Citrus Stem C Serum Ingredients</a>
            </p>
          </div>
        </div>

        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">What is the undertone of each concealer shade?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">
              Light - fair cool<br>
              Neutral beige - neutral<br>
              Medium - warm<br>
              Deep - warm<br>
              Dark - cool<br>
            </p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">How long does a tube of concealer last?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">It depends on the individual, as some of our customers will use it primarily as a concealer, while others use it as foundation. Our product is formulated to be quite concentrated and therefore a little goes a long way!</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">Do you give samples?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">Unfortunately, due to the high cost of shipping and packing, we do not have samples but we do however offer a full 30 day money back guarantee. If for whatever reason you aren't satisfied you can return any of our products for a full refund</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">Will your products clog my pores and make me break out?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">Our products are noncomedogenic and have high quality ingredients like hyaluronic acid which is light, hydrates skin and doesn't clog pores, making it much less likely that you'll breakout.</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">What if I order the wrong shade of concealer?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">If you are unsatisfied for any reason you can return your concealer for a full refund. <a href="terms.php#ReturnsAndRefunds" class="fancybox fancybox.iframe" style="text-decoration: underline">Please refer to our Return Policy.</a></p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">Does your concealer conceal scars, brown spots, age spots, under eye bags, sun damage etc…?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">Our concealer is specifically formulated for mature skin to provide excellent coverage for various signs of aging and skin imperfections.</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">How long does it take to ship?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">In the US we use USPS First Class Mail and in Canada we use Canada Post for all our orders. We ship our orders next business day and barring any carrier delays most orders arrive within 2-4 business days.</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">Do you test on animals?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">Absolutely not! None of our products are ever tested on animals.</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">Does the concealer work for rosacea?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">We’ve had a lot of positive feedback from customers using our concealer who have rosacea.</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">How long does the concealer last?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">Our concealer has been specifically formulated for all day wear.</p>
          </div>
        </div>
        <div class="up-slide-dwn">
          <div class="accordion acdn-heading accordion-close">Will the concealer work for sensitive, oily and dry skin types?</div>
          <div class="acdn-content" style="display: none;">
            <p class="acdn-para">Our concealer has been formulated to work with all skin types</p>
          </div>
        </div>
      </div>
      <div class="clearall"></div>
    </div>
  </div>
